/* We import Montserrat and Open Sans, the two primary fonts on the site, and define
several important variables through :root, including the main color palate and the fontstack. */

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans&display=swap');

:root {
    --fg-primary: #F75A10;
    --fg-secondary: #FBFAF2;
    --bg-primary: #414449;
    --bg-secondary: #cc6600;
    --bg-tertiary: darkgrey;
    --arial-stack: "Arial", sans-serif;
    --mont-stack: "Montserrat", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
    --open-stack: "Open Sans", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* We make some changes that affect all elements, or the body, mostly for the purpose of setting
fonts, sizing, and padding / margin settings. */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--arial-stack);
    margin: 0; padding: 0;
    height: 100% !important;
}

body * {
    font-family: inherit;
}

html {
    height: 100% !important;
    box-sizing: border-box;
}

a {
    color: inherit;
}

/* The below rules are pretty specific and universal. The code for #deus and #master provide
important settings for the footer, while the #ieMessage defines the style of the message
shown to users on Internet Explorer. .invisible is used by my JS to show / hide elements. */

div#ieMessage {
    padding: 40px;
}

div#deus {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div#master {
    flex: 1 0 auto;
}

.invisible {
    display: none !important;
}

/* Navigation bars. This code defines the style for the navbar on desktop, along with the 
dropowns that appear when you click on a navbar element. It's unfortunately not very responsive. */

ul.nav {
    text-align: center;
    padding: 0 2% 2% 2%;
    background-color: var(--bg-primary);
    margin-top: 0; margin-bottom: 0;
}


ul.nav li {
    display: inline;
    position: relative;
}

ul.nav a {
    text-decoration: none; 
    padding: 0 30px;
    color: var(--fg-secondary);;
    font-size: (1.1vw+12px);
    font-family: var(--open-stack);
    transition: color 0.1s;
}

ul.nav a:hover {
    color: var(--fg-primary);
    cursor: pointer;
}

div.dropdown {
    position: absolute;
    top: 40px;
    background-color: var(--bg-primary);
    z-index: 10;
    padding: 10px 40px 10px 20px;
    left: 25px;
    border: 1px solid var(--fg-secondary);
    width: auto;
}

div.dropdown ul {
    list-style-type: none;
    padding: 0; margin: 0;
    text-align: left;
}

div.dropdown ul li {
    margin: 10px 5px;
    color: var(--fg-secondary);
    white-space: pre;
    text-align: left;
    display: block;
}

div.dropdown ul li a {
    padding: 0;
}

div.dropdown ul li a:hover {
    cursor: pointer;
}

/* Settings for the logo container. The code is hacky and bad-practice, but looks good on all screen sizes. */

div.nav-logo-container {
    background-color: var(--bg-primary);
    height: 15vh;
    z-index: 5;
    position: sticky;
}

div.nav-logo-container img {
    display: block;
    margin:  auto;
    height: 75%;
    position: relative;
    bottom: -7.5%;
}


div.nav-logo-container button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

/* Mobile navbar. It's inherently different to the desktop navbar, so I have two seperate ones, and
hide the one that doesn't fit the screen size. It's called sidebar-pop because it pops out of the side. */

div.sidebar-pop:not(.visible) {
    display: none;
}

div.sidebar-pop {
    background-color: var(--bg-primary);
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 4;
    padding: 8%;
    padding-top: 120px;   

	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5); 
}

div.sidebar-pop ul.pop-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.sidebar-pop ul.pop-nav li {
    margin-bottom: 0.7rem;
    width: 100%;
    position: relative;
}

div.sidebar-pop ul.pop-nav li a {
    color: var(--fg-secondary);;
    text-decoration: none;
    font-size: 1.4em;
    text-align: center;
}

li.mobile-dropdown {
    margin-left: 40px;
}

/* This code shows / hides the navbar based on screen size. */
 
@media screen and (min-width: 801px) {
    div.nav-logo-container button {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    ul.nav {
        display: none;
    }

    ul.nav-logo-container button {
        display: block !important;
    }
}

/* The large image on the front page is called the hero, and we define code for its position and
scrolling effects here. The "leader" is the text within the hero. */

div.hero {
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('https://i.ibb.co/z8cJT5R/73310832-10156426074260877-271144403542736896-o.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: top center; 

    position: relative;
}

div.hero h1.leader {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;

    text-align: center;

    font-size: calc(2rem + 18px);
    color: var(--fg-secondary);;
    font-family: var(--mont-stack);
}

/* We have so many media queries because we need to set the position of the background
image for the hero based on screen size, to avoid unfortunately positioned faces. */

@media screen and (max-width: 900px) {
    div.hero h1.leader {
        font-size: calc(1.5rem + 18px);
    }

    div.hero {
        background-size: auto;
        background-position: 45% 33%;
    }
}

@media screen and (max-width: 500px){
    div.hero {
        background-size: auto;
        background-position: 50% 33%;
    }
}

@media screen and (max-width: 375px) {
    div.hero {
        background-size: auto;
        background-position: 55% 25%;
    }
}

@media (hover: none) {
    div.hero {
        background-attachment: scroll;
    }
}

/* This is what I called "subhero" content because it's exclusive to the home page, 
and appears below the hero. It's the centered, larger text that describes the team. */

div.secondary-content-wrapper {
    padding: 3%;
}

div.secondary-content {
    width: 50%;
    margin: auto;
}

@media screen and (max-width:900px) {
    div.secondary-content {
        width: 95% !important;
    }
}

div.secondary-content p {
    font-size: calc(1.2em + 4px);
    text-align: center;
    line-height: 155%;
    margin-top: 0;
}

/* The header is the little brother to the hero, without the image, that appears on
all pages. Its background is the same as the navbar, so it appears to be one large block. */

div.header {
    background-color: var(--bg-primary);
    padding: 3%;
}

div.header h1 {
    text-align: center;
    font-family: var(--mont-stack);
    font-size: calc(2rem + 14px);
    font-weight: bold;
    margin: 0; padding: 0;
    color: var(--fg-secondary);
}

/* Primary page content defines the text that appears beneath the header on lesser pages, like the
mission statement. It's not used for the coaches page, or wall of fame. */

div.primary-page-content {
    width: 75%;
    padding: 1% 0;
    margin: auto;
    margin-bottom: 1%;
}

div.primary-page-content p {
    font-family: var(--open-stack);
    font-size: calc(1em + 3px);
}

div.primary-page-content h1 {
    font-size: 1.7em;
}

/* This footer uses some flex code to make sure it will *always* appear on the bottom of the page (not
the bottom of the viewport) even if the screen size is larger. */

div.footer {
    flex-shrink: 0;

    background-color: var(--bg-primary);
    text-align: center;
    padding: 2vh;
}

div.footer p {
    color: white;
    font-size: calc(0.7rem + 8px);
    margin: 0;
}

/* This defines the code for the styling of the download buttons on the signup page. */

button.download-button {
    background-color: var(--bg-primary);
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1rem;
    min-width: 40%;
    text-align: left;
    color: var(--fg-secondary);

    margin-bottom: 10px;
    margin-left: 5px;
}

button.download-button:hover {
    background-color: var(--bg-secondary);
}

/* This code is exclusive to the coaches page, and defines the page split between the image and the
coach profile. It has media queries to ensure the images appear below the text on mobile. */

div.half-split-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.half-split-container div {
    flex-basis: 50%;
    flex-grow: 2;
}

div.half-split-container div img {
    width: 500px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    h1#chead {
        text-align: center;
    }
}

/* This code defines the styling for the badges on the wall of fame. */

div.fame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.fame-container div.fame-card {
    width: 400px;
    border: 3px solid var(--bg-primary);
    text-align: center;
    padding: 0.5%;
    margin: 2%;
}

/* We hack the Facebook iframe a little to ensure that it remains responsive
with the site. */

div.facebook-updates-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

div.facebook-updates-container div.fb-div-container {
    width: 500px;
}
